.logo{
text-align: center;
}
.logo a{
  font-family: 'Josefin Slab';
  font-size: 50px;
  text-decoration: none;
  color:#333
}
.center img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}